<footer class="bs-docs-footer light text-center" role="contentinfo">
  <div class="container-fluid">
    <div class="row">
        <p>
            <a href="mailto:info@limelite.co">info@limelite.co</a> —
            +38 (044) 502-98-20  —
            <a href="https://www.facebook.com/pages/Lime-Lite-Studio/165168040422" target="_blank">facebook</a>  —
            <a href="https://vimeo.com/limelitestudio" target="_blank">vimeo</a>
        </p>
        <a href="http://vgnc.co" class="vgnc" target="_blank">VGNC</a>
    </div>
  </div>
</footer>
