---
pageIndex: 'true'
pagedef: 'index-page'
---
<svg version="1.1" id="limelitesvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="960" height="440" viewBox="0 0 960 560" enable-background="new 0 0 960 560" xml:space="preserve"></svg>
<div class="landing">
    <div class="landing-showreel">
      <div class='embed-container'>
          <iframe src='http://player.vimeo.com/video/138911099' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
    <div class="landing-description text-huge text-center light">
        <h1 class="light text-huge">LIMELITE</h1>
        <p>is a film service production house.</p>
        <p>We offer: top-notch producers with local and international experience in TV commercial and feature film production; in-house casting studio with a diveded database; and timesaving worry-free internal location management.</p>
    </div>
    {{>footer}}
</div>
