---
pagedef: 'shooting-body'
---
<div class="shooting text-center">
    <h1 class="text-larger light">Explore the wild beauty of Kazakhstan with us. Grand Canyon can be closer then you thought.</h1>
    <div class="container">
        <div class="col-xs-6">
            <div class="col-xs-12"><img class="pull-left" src="images/shooting/kz/1.jpg" alt=""/></div>
            <div class="col-xs-12"><img class="pull-left" src="images/shooting/kz/2.jpg" alt=""/></div>
        </div>
        <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/3.jpg" alt=""/></div>
        <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/4.jpg" alt=""/></div>
        <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/5.jpg" alt=""/></div>
        <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/6.jpg" alt=""/></div>
        <div class="col-xs-6">
            <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/7.jpg" alt=""/></div>
            <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/8.jpg" alt=""/></div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/9.jpg" alt=""/></div>
            <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/10.jpg" alt=""/></div>
        </div>
        <div class="col-xs-6"><img class="pull-left" src="images/shooting/kz/11.jpg" alt=""/></div>
    </div>
</div>
