---
pagedef: 'shooting-body'
---
<div class="shooting text-center">
  <h1 class="text-larger light">Explore the beauty of Ukraine with us!</h1>
  <div class="container">
      <div class="col-xs-6"><img class="pull-left" src="images/shooting/ua/1.jpg" alt=""/></div>
      <div class="col-xs-6"><img class="pull-left" src="images/shooting/ua/7.jpg" alt=""/></div>
      <div class="div col-xs-4"><img class="pull-left" src="images/shooting/ua/5.jpg" alt=""/></div>
      <div class="div col-xs-8"><img class="pull-left" src="images/shooting/ua/6.jpg" alt=""/></div>
      <div class="col-xs-6">
          <div class="col-xs-12">
              <img class="pull-left" src="images/shooting/ua/2.jpg" alt=""/>
          </div>
          <div class="col-xs-6"><img class="pull-left" src="images/shooting/ua/3.jpg" alt=""/></div>
          <div class="col-xs-6"><img class="pull-left" src="images/shooting/ua/4.jpg" alt=""/></div>
      </div>
      <div class="col-xs-6"><img class="pull-left" src="images/shooting/ua/8.jpg" alt=""/></div>
  </div>
</div>
