---
pagedef: 'shooting-body'
---
<div class="shooting text-center">
    <h1 class="text-larger light">Now you have a trusted partner if want to organize the shoot in Georgia! We opened up a branch there! Very welcome</h1>
    <div class="container">
        <div class="col-xs-9"><img class="pull-left" src="images/shooting/ge/1.jpg" alt=""/></div>
        <div class="col-xs-3">
            <div class="col-xs-12"><img class="pull-left" src="images/shooting/ge/6.jpg" alt=""/></div>
            <div class="col-xs-12"><img class="pull-left" src="images/shooting/ge/7.jpg" alt=""/></div>
        </div>
        <div class="col-xs-6"><img class="pull-left" src="images/shooting/ge/4.jpg" alt=""/></div>
        <div class="col-xs-6"><img class="pull-left" src="images/shooting/ge/3.jpg" alt=""/></div>
        <div class="col-xs-12">
            <div class="col-xs-8">
                <img class="pull-left" src="images/shooting/ge/5.jpg" alt=""/>
            </div>
            <div class="div col-xs-4"><img class="pull-left" src="images/shooting/ge/2.jpg" alt=""/></div>
        </div>
    </div>
</div>
