---
pagedef: 'team-body'
---
<div class="team">
    <div class="container">
        <div class="col-xs-6 team-block-first">
          <p class="text-smaller inflate">Owners & managing partners</p>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/23.jpg);">
            <div class="team-item">
              <p>Vladimir Yatsenko</p>
              <p>General producer/Co-owner</p>
              <p>+38 050 3837508</p>
              <p><a href="mailto:vladimir@limelite.co">vladimir@limelite.co</a></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-6" style="background-image: url(images/team/10.jpg);">
                <div class="team-item">
                    <p>Karina Kostyna</p>
                    <p>Head of Bidding/Managing Partner</p>
                    <p>+38 098 3017307</p>
                    <p><a href="mailto:karina@limelite.co">karina@limelite.co</a></p>
                </div>
            </div>
            <div class="col-xs-6" style="background-image: url(images/team/11.jpg);">
                <div class="team-item">
                    <p>Nataliya Romanyuk</p>
                    <p>Head of Production/Managing Partner</p>
                    <p>+38 050 3565536</p>
                    <p><a href="mailto:nat@limelite.co">nat@limelite.co</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/27.jpg);">
            <div class="team-item">
                <p>Anna Sunden</p>
                <p>Co-owner</p>
                <p><a href="mailto:anna@limelite.co">anna@limelite.co</a></p>
            </div>
        </div>
        <div class="col-xs-6">
          <div class="col-xs-6" style="background-image: url(images/team/07.jpg);">
              <div class="team-item">
                  <p>Albert Zurashvili</p>
                  <p>Executive Producer/Managing Partner</p>
                  <p>+38 067 5061487</p>
                  <p><a href="mailto:albert@limelite.co">albert@limelite.co</a></p>
              </div>
          </div>
          <div class="col-xs-6" style="background-image: url(images/team/25.jpg);">
              <div class="team-item">
                  <p>Irina Kuznetsova</p>
                  <p>Head of Finance/Managing Partner</p>
                  <p>+38 044 5029820</p>
                  <p><a href="mailto:ira@limelite.co">ira@limelite.co</a></p>
              </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-6 team-block-first">
            <p class="text-smaller inflate">Producers</p>
            <a class="text-big" href="mailto:producers@limelite.co">producers@limelite.co</a>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/20.jpg);">
            <div class="team-item">
                <p>Dasha Andrushchenko</p>
                <p>Executive Producer</p>
                <p>+38 067 7532115</p>
                <p><a href="mailto:and@limelite.co">and@limelite.co</a></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-6" style="background-image: url(images/team/22.jpg);">
                <div class="team-item">
                    <p>Yuliya Foster</p>
                    <p>Producer</p>
                    <p>+38 067 1599590</p>
                    <p><a href="mailto:foster@limelite.co">foster@limelite.co</a></p>
                </div>
            </div>
            <div class="col-xs-6" style="background-image: url(images/team/17.jpg);">
                <div class="team-item">
                    <p>Nastya Ivashchuk</p>
                    <p>Producer</p>
                    <p>+38 097 6017213</p>
                    <p><a href="mailto:nastya@limelite.co">nastya@limelite.co</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/26.jpg);">
            <div class="team-item">
                <p>Vlad Bolyelov</p>
                <p>Executive Producer</p>
                <p>+38 067 7175742</p>
                <p><a href="mailto:vlad@limelite.co">vlad@limelite.co</a></p>
            </div>
        </div>
        <div class="col-xs-6">
          <div class="col-xs-6" style="background-image: url(images/team/16.jpg);">
              <div class="team-item">
                  <p>Roman Kravets</p>
                  <p>Producer</p>
                  <p>+38 067 5065109</p>
                  <p><a href="mailto:roman@limelite.co">roman@limelite.co</a></p>
              </div>
          </div>
          <div class="col-xs-6" style="background-image: url(images/team/12.jpg);">
              <div class="team-item">
                  <p>Alex Shyvkin</p>
                  <p>Assistant Producer</p>
                  <p>+38 068 9438707</p>
                  <p><a href="mailto:sahsa@limelite.co">sasha@limelite.co</a></p>
              </div>
          </div>
        </div>
     </div>
    <div class="container">
        <div class="col-xs-6 team-block-first">
            <p class="text-smaller inflate">Bidding</p>
            <a class="text-big" href="mailto:bid@limelite.co">bid@limelite.co</a>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/13.jpg);">
            <div class="team-item">
                <p>Vladimir Protsenko</p>
                <p>Directors Scout</p>
                <p>+38 063 6849987</p>
                <p><a href="mailto:vova@limelite.co">vova@limelite.co</a></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-6" style="background-image: url(images/team/09.jpg);">
                <div class="team-item">
                    <p>Alexandr Kryshtal</p>
                    <p>Directors Scout</p>
                    <p>+38 050 4983738</p>
                    <p><a href="mailto:alex@limelite.co">alex@limelite.co</a></p>
                </div>
            </div>
            <div class="col-xs-6" style="background-image: url(images/team/08.jpg);">
                <div class="team-item">
                    <p>Daria Krikunova</p>
                    <p>Bidding Producer</p>
                    <p>+38 098 8780808</p>
                    <p><a href="mailto:daria@limelite.co">daria@limelite.co</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/14.jpg);">
            <div class="team-item">
                <p>Ruslana Artemenko</p>
                <p>Bidding Producer</p>
                <p>+38 093 2137846</p>
                <p><a href="mailto:ruslana@limelite.co">ruslana@limelite.co</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-6 team-block-first">
            <p class="text-smaller inflate">Casting</p>
            <a class="text-big" href="mailto:casting@limelite.co">casting@limelite.co</a>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/03.jpg);">
            <div class="team-item">
                <p>Pavel Makarchenko</p>
                <p>Casting Director</p>
                <p>+38 067 2384996</p>
                <p><a href="mailto:pavel@limelite.co">pavel@limelite.co</a></p>
            </div>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/02.jpg);">
            <div class="team-item">
                <p>Yekaterina Mamchur</p>
                <p>Casting Manager</p>
                <p>+38 067 5473676</p>
                <p><a href="mailto:katya@limelite.co">katya@limelite.co</a></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-6" style="background-image: url(images/team/01.jpg);">
                <div class="team-item">
                    <p>Roman Zavertaniy</p>
                    <p>Casting Manager</p>
                    <p>+38 066 1104921</p>
                    <p><a href="mailto:roma@limelite.co">roma@limelite.co</a></p>
                </div>
            </div>
            <div class="col-xs-6" style="background-image: url(images/team/15.jpg);">
                <div class="team-item">
                    <p>Misha Voropai</p>
                    <p>Casting Director</p>
                    <p>+38 093 8477765</p>
                    <p><a href="mailto:misha@limelite.co">misha@limelite.co</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-6 team-block-first">
            <p class="text-smaller inflate">Production Manager</p>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/24.jpg);">
            <div class="team-item">
                <p>Max Matveev</p>
                <p>Production Manager</p>
                <p>+38 067 5037000</p>
                <p><a href="mailto:max@limelite.co">max@limelite.co</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-6 team-block-first">
            <p class="text-smaller inflate">Location Manager</p>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/18.jpg);">
            <div class="team-item">
                <p>Valeriy Gumenchuk</p>
                <p>Location Manager</p>
                <p>+38 067 2344351</p>
                <p><a href="mailto:valeriy@limelite.co">valeriy@limelite.co</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-6 team-block-first">
            <p class="text-smaller inflate">Finance</p>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-6" style="background-image: url(images/team/19.jpg);">
                <div class="team-item">
                    <p>Viktoriya Olesich</p>
                    <p>Chief of Accountant</p>
                    <p>+38 044 5029820 </p>
                    <p><a href="mailto:viktoriya@limelite.co">viktoriya@limelite.co</a></p>
                </div>
            </div>
            <div class="col-xs-6" style="background-image: url(images/team/05.jpg);">
                <div class="team-item">
                    <p>Svetlana Korol</p>
                    <p>Accountant</p>
                    <p>+38 044 5029820</p>
                    <p><a href="mailto:svetlana@limelite.co">svetlana@limelite.co</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-6 team-block-first">
            <p class="text-smaller inflate"></p>
            <a class="text-big" href="mailto:office@limelite.co">office@limelite.co</a>
        </div>
        <div class="col-xs-6" style="background-image: url(images/team/04.jpg);">
            <div class="team-item">
                <p>Olga Kirilets</p>
                <p>Lawyer</p>
                <p>+38 044 5029820</p>
                <p><a href="mailto:lawyer@limelite.co">lawyer@limelite.co</a></p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-6" style="background-image: url(images/team/29.jpg);">
                <div class="team-item">
                    <p>Anastacia Martynyuk</p>
                    <p>Office Manager</p>
                    <p>+38 044 5029820</p>
                    <p><a href="mailto:anastasia@limelite.co">anastasia@limelite.co</a></p>
                </div>
            </div>
            <div class="col-xs-6" style="background-image: url(images/team/21.jpg);">
                <div class="team-item">
                    <p>Sergiy Filin</p>
                    <p>Cost Contador/Props Men</p>
                    <p>+38 044 5029820</p>
                    <p><a href="mailto:filin@limelite.co">filin@limelite.co</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-6" style="background-image: url(images/team/30.jpg);">
                <div class="team-item">
                    <p>Aleksandr Pustovoy</p>
                    <p>Driver/Personal Assistant</p>
                    <p>+38 044 5029820</p>
                </div>
            </div>
            <div class="col-xs-6" style="background-image: url(images/team/28.jpg);">
                <div class="team-item">
                    <p>Vadim Sotnyk</p>
                    <p>Courier</p>
                    <p>+38 044 5029820</p>
                </div>
            </div>
        </div>
    </div>
</div>
