.light {
  font-family: $font-family-circe-light;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.inflate { text-transform: uppercase; }

.text-huge { font-size: 36px; }
.text-larger { font-size: 30px; }
.text-big { font-size: 20px; }
.text-large { font-size: 18px; }
.text-small { font-size: 11px; }
.text-smaller { font-size: 11px; }
