@import url("//hello.myfonts.net/count/2f1f46");
@font-face {
  font-family: 'Circe-Light';src: url('fonts/2F1F46_0_0.eot');
  src: url('../fonts/2F1F46_0_0.eot?#iefix') format('embedded-opentype')
  , url('../fonts/2F1F46_0_0.woff2') format('woff2')
  , url('../fonts/2F1F46_0_0.woff') format('woff')
  , url('../fonts/2F1F46_0_0.ttf') format('truetype')
  , url('../fonts/2F1F46_0_0.svg#wf') format('svg');
}
@font-face {
  font-family: 'Circe-Regular';
  src:  url('../fonts/2F1F46_1_0.eot');
  src:  url('../fonts/2F1F46_1_0.eot?#iefix') format('embedded-opentype')
  , url('../fonts/2F1F46_1_0.woff2') format('woff2')
  , url('../fonts/2F1F46_1_0.woff') format('woff')
  , url('../fonts/2F1F46_1_0.ttf') format('truetype')
  , url('../fonts/2F1F46_1_0.svg#wf') format('svg');
}
$icon-font-path         : "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$body-bg                : #000;
$font-family-sans-serif : "Circe-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-circe-light: "Circe-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-circe-bold: "Circe Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brand-primary          : #fff;
$nav-link-hover-bg      : inherit;
$text-color             : #dadada;
$navbar-padding-vertical: 40px;
